    .thumbnail img{
        width: 400px;
        height: 350px;
        object-fit: cover;
    }
    LI {
        font-size: 20px;
        text-transform:uppercase;
    }
    @font-face{
        font-family: BARABARA;
        src: url(../fonts/BARABARA-final.otf)
    }

    #navbar {
        background-color: #AEE4B9; /* Black background color */
        position: fixed; /* Make it stick/fixed */
        bottom: 0;
        top: 1550px; /* Hide the navbar 50 px outside of the top view */
        width: 100%; /* Full width */
        transition: top 0.4s; /* Transition effect when sliding down (and up) */
        height: 8%;
    }
    /* Style the navbar links */
    #navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 9px 9px;
        text-decoration: none;
        font-size: 7px;
    }
    #navbar a:hover {
        background-color: #ddd;
        color: white;
    }

    .establishmentName {font-family: BARABARA;}